body {
  background-color: #001f3f;
}

#title,
#description {
  text-align: center;
  color: #ddd;
}
.score-container {
  background-color: #3d9970;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid maroon;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.player-score,
.computer-score {
  color: white;
  flex: 1;
}

.results {
  flex: 1;
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.win {
  z-index: 10;
  text-align: center;
  background-color: aliceblue;
  width: auto;
  height: 1000px;
}

button {
  padding: 10px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
